@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.search-icon {
  color: #172b6d;
}

.outerdivclass:hover .search-icon {
  color: white;
}

.shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.question-icon {
  color: white;
  font-weight: bold;
}

.shadowprofile {
  box-shadow: 0px 4px 54px 0px rgba(0, 0, 0, 0.15);
}

.step-item {
  @apply relative flex flex-col justify-center items-center w-36;
}
.step-item:not(:first-child):before {
  @apply content-[''] bg-[#181849] absolute w-full h-[1px] right-2/4 top-1.5 -translate-y-2/4;
}
.step {
  @apply w-3 h-3 flex items-center justify-center z-10 relative bg-white border-2 border-[#181849] rounded-full font-semibold text-white;
}
.active .step {
  @apply bg-[#181849];
}
.complete .step {
  @apply bg-[#181849];
}
