@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.search-icon {
  color: #172b6d;
}

.outerdivclass:hover .search-icon {
  color: white;
}

.shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.question-icon {
  color: white;
  font-weight: bold;
}

.shadowprofile {
  box-shadow: 0px 4px 54px 0px rgba(0, 0, 0, 0.15);
}
